.footer {
    background: $color-dark-blue-1-1;
}

.footer-wrapper {
    @include size;
    padding: 30px 0;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer-item__rights-reserved,
.footer-item__mail,
.footer-item__social-network__vk {
    color: $color-white-1-1;
}

.footer-item__qiwi {
    margin-left: 47px;
}

.footer-item__qiwi,
.footer-item__yandex,
.footer-item__web-money {
    color: $color-grey-1-2;
}

.footer-item__rights-reserved::after {
    content: '';
    width: 0;
    height: 17px;
    border: 1px solid #ffffff;
    top: 28px;
    left: 31%;
    position: absolute;
}

.footer-item {
    display: flex;
    align-items: center;

    &.footer-item__qiwi::before {
        display: inline-block;
        content: url('./../img/qiwi.png');
        padding-right: 10px;
    }

    &.footer-item__yandex::before {
        content: url('./../img/yandex.png');
        padding-right: 10px;
    }

    &.footer-item__web-money::before {
        content: url('./../img/webmoney.png');
        padding-right: 10px;
    }

    &.footer-item__mail::before {
        content: url('./../img/mail.png');
        padding-right: 10px;
    }

    &.footer-item__social-network__vk::before {
        content: url('./../img/vk.png');
        padding-right: 10px;
    }
}