.size {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: $color-black-1-2;
    position: absolute;
    left: 0;
    right: 0;

    .header-wrapper {
        padding: 34px 0 33px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navigation-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    .navigation-list__item {
        margin-left: 40px;
    }

    .navigation-list__link {
        display: inline-block;
        color: $color-white-1-1;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        padding: 8px;
    }

    .navigation-list__item:hover .navigation-list__link{
        color: $color-blue-1-1;
    }

}

@media all and (max-width: 1200px) {
    .header {
        .size {
            width: auto;
        }

        .header-wrapper {
            padding: 25px 20px;
        }

        .navigation-list {
            margin-top: 10px;
        }
    }
}

@media all and (max-width: 768px) {
    .header {
        .logo {
            text-align: center;
        }
    
        .header-wrapper {
            display: block;
        }

        .navigation-list {
            justify-content: center;
        }
    
        .navigation-list__item:first-child {
            margin-left: 0;
        }
    }
}

@media all and (max-width: 480px) {
    .header {
        .navigation-list {
            display: block;
            text-align: center;
        }

        .navigation-list__item {
            margin-left: 0;
        }
    }
}